{{#each signature}}
    <div class="list-box">
        <img src="/img/fist.png" alt="fist icon"></img>
        <div class="signature-box_info">
            <h4><a href="http://{{website}}" target="_blank">{{first}} {{last}}</a></h4>
            <p>(Age: {{age}}, City: <a href="/signers/{{city}}">{{city}}</a>)</p>
        </div>
    </div>
{{/each}}
